@{
    ViewData["Title"] = "Заблокирован";
}

<div class="container">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">Эта учетная запись была заблокирована, пожалуйста, повторите попытку позже.</p>
    </header>
</div>
