@{
    ViewData["Title"] = "Сброс подтверждения пароля";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Ваш пароль был сброшен. Пожалуйста <a asp-action="Login">нажмите здесь, чтобы войти в систему</a>.
    </p>
</div>
